.chatui{
    max-width: 450%;
    min-width: 450%;
    border: 1px solid black;
    min-height:380px;
    background-color: white;
    color: blue;
    margin-top: -80%;
    margin-left: -340%;
}

.chat 
{
    max-width: 99%;
    min-width: 99%;
    min-height: 340px;
    max-height: 340px;
    border: 2px solid blue;
}

.chatinp {
    margin-top: 88%;
    width: 84%;
    margin-left: -15%;
    max-height: 41px;
    min-height: 41px;
}

.chatbtn {
    width: 50%;
    height: 35px;
    border-radius: 0;
    border: none;
    border-right: 1px solid darkgrey;
border-bottom: 1px solid darkgray;
font-family: 'Quicksand', sans-serif;
font-weight: bold;
}

.sendbtn {
    margin-left: 84%;
    font-size: 17px;
    font-weight: bold;
    margin-top: -13%;
    color: white;
    background-color: black;
    height: 35px;
    width: 16.5%;
    padding-top: 3%;
}