@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yantramanav:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Yantramanav:wght@100;300;400;500;700;900&display=swap');

.sign_up_main {
    background-color: #FFFFFF;
    width: 70%;
    height: 500px;
    margin: auto;
    margin-top: 100px;
}

.sign_up_header {
    background-color: #FCD21C;
    width: 70%;
    padding: 10px 20px 10px 20px;
    box-sizing: border-box;
    margin: auto;
    margin-top: 100px;
    font-family: 'Quicksand', sans-serif;
    font-size: 28px;
    font-weight: 700;
    color: #141823;
    border-radius: 0.5em;
    /* border: 2px solid #141823; */
}